<h2>
    <div class="container">Le navigateur
        <div class="item"><mat-icon>construction</mat-icon>conçu </div>
    </div>par Google
</h2>
<div class="card-g">
    <mat-card class="card1" style="background-color: #fdf4e3; padding: 3rem;">
        <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 1rem;">
            <div>
                <p>IA GOOGLE</p>
                <h4>Accédez aux superpouvoirs de l'IA pendant votre navigation.</h4>
            </div>
            <div>
                <p>Google intègre l'IA à ses produits pour les rendre plus utiles. Nous utilisons l'IA pour des
                    fonctionnalités telles que la Recherche, Google Traduction et bien d'autres. De plus, nous concevons
                    nos
                    innovations technologiques de façon responsable.</p>
                <a class="section-link"
                    href="https://www.google.com/chrome/static/images/intl/fr_FR/v2/gallery/passwords-fill-2-2x.webp"
                    target="_blank" rel="noopener noreferrer">Découvrez l’IA Google<mat-icon
                        class="external-icon">arrow_outward</mat-icon></a>
            </div>
        </div>
        <img style="width: 100%;" src="/assets/sections-images/for-google/image1.png" alt="image1">
    </mat-card>
    <div class="card-child">
        <mat-card style="background-color: #fbe2a5;" (click)="ShowCard.toogleCardVisibility(ShowCard.isCard5Visible)">
            @if (ShowCard.isCard5Visible()) {
            <img class="img" src="/assets/sections-images/for-google/image2.png" alt="image2">
            <p style="font-size: 1rem;">Tout un univers de connaissances, à portée de main. Consultez la météo, résolvez
                des équations mathématiques et profitez de résultats de recherche instantanés, le tout depuis la barre
                d'adresse de votre navigateur.</p>
            }@else {
            <p>MOTEUR DE RECHERCHE GOOGLE</p>
            <h4>Une barre de recherche à votre image, directement intégrée.</h4>
            <img class="img" src="/assets/sections-images/for-google/image3.png" alt="image3">
            }
            <mat-card-actions align="end">
                @if (ShowCard.isCard5Visible()) {
                <button class="btn5" mat-icon-button><mat-icon>close</mat-icon></button>
                }@else {
                <button class="btn6" mat-icon-button><mat-icon>add</mat-icon></button>
                }
            </mat-card-actions>
        </mat-card>
        <mat-card appearance="outlined" (click)="ShowCard.toogleCardVisibility(ShowCard.isCard6Visible)">
            @if (ShowCard.isCard6Visible()) {
            <img class="img" src="/assets/sections-images/for-google/image4.png" alt="image4">
            <p style="font-size: 1rem;">Utilisez Gmail, Google Docs, Google Slides, Google Sheets, Google
                Traduction et Google Drive même sans connexion Internet.</p>
            <a class="section-link"
                href="https://support.google.com/docs/answer/6388102?hl=en&co=GENIE.Platform%3DDesktop" target="_blank"
                rel="noopener noreferrer">Découvrez comment travailler hors connexion<mat-icon
                    class="external-icon">arrow_outward</mat-icon></a>
            }@else {
            <p>GOOGLE WORKSPACE</p>
            <h4>Travaillez, avec ou sans Wi-Fi.</h4>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="width: 100%;"><img style="width: 100%;" src="/assets/sections-images/for-google/image5.png"
                        alt="image5"></div>
                <div style="width: 100%;"><img style="width: 100%;" src="/assets/sections-images/for-google/image5.png"
                        alt="image5"></div>
                <div style="width: 100%;"><img style="width: 100%;" src="/assets/sections-images/for-google/image5.png"
                        alt="image5"></div>
            </div>
            }
            <mat-card-actions align="end">
                @if (ShowCard.isCard6Visible()) {
                <button class="btn5" mat-icon-button><mat-icon>close</mat-icon></button>
                }@else {
                <button class="btn6" mat-icon-button><mat-icon>add</mat-icon></button>
                }
            </mat-card-actions>
        </mat-card>
    </div>
</div>