h1 {
  text-align: center;
  .to {
    padding: 1.5rem;
    border-radius: 45px;
    background-color: #feeded;
    color: #e81a1a;
  }
}
a,
.link {
  color: var(--mat-sys-primary);
}
.link {
  font-weight: 500;
  font-size: 1rem;
}
.link:hover .external-icon {
  color: var(--mat-sys-primary);
}
.l {
  background-color: #edf2fe;
}
