.hero-inner {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: #edf2fe;
  h3,
  a {
    margin: 2px;
  }
}
.home-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  section {
    padding-top: 3.7rem;
  }
  #update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
a,
.home-link {
  color: var(--mat-sys-primary);
}
.home-link {
  font-weight: 500;
  font-size: 1rem;
}
.home-link:hover .external-icon {
  color: var(--mat-sys-primary);
}
.hero-second {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 500px auto;
}
.h-s {
  grid-column: 2/3;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
  }
  .btn {
    background-color: #1a73e8;
    font-size: 16px;
    padding: 2rem;
  }
  .btn:hover {
    background-color: var(--mat-sys-primary);
  }
  mat-checkbox .more {
    display: inline;
  }
}
.h-s:nth-child(2) {
  gap: 1rem;
}

.section-image-scroll {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.section-image-scroll .img1 {
  width: 800px;
}

.section-image-scroll .img2 {
  width: 240px;
}
