<div class="hero-inner">
    <h3>Envie de passer au niveau supérieur ? Découvrez Chromebook Plus avec Gemini</h3>
    <a class="home-link"
        href="https://www.google.com/chromebook/switch-to-chromebook/?utm_source=chrome.com&utm_medium=referral&utm_campaign=en-us"
        target="_blank" rel="noopener noreferrer">Acheter un Chromebook Plus<mat-icon
            class="external-icon">arrow_outward</mat-icon></a>
</div>
<main class="home-root">
    <!-- Hero -->
    <section data-home-section id="hero">
        <div class="hero-second">
            <div class="h-s fade-in">
                <img src="/assets/chrome.png" alt="logo-chome" />
                <h1>
                    Le navigateur <br> à votre image
                </h1>

                <button class="btn" mat-flat-button>
                    <mat-icon>download</mat-icon>Télécharger Chrome
                </button><br />
                <a href="https://www.google.com/intl/fr/chrome/update/">Je souhaite mettre à jour Chrome</a>
                @if (width() >= medium) {
                <br /><span>Pour Windows 11/10 64-bit</span>
                }
            </div>
            @if (width() >= medium) {
            <div class="h-s">
                <mat-checkbox>
                    <span>
                        Aidez-nous à améliorer Google Chrome en nous envoyant
                        automatiquement des <br> statistiques
                        d'utilisation et des rapports d'erreur. <a class="more"
                            href="https://www.google.com/support/chrome/bin/answer.py?answer=96817&hl=en"
                            target="_blank" rel="noopener noreferrer"> En savoir plus</a>
                    </span>
                </mat-checkbox>
                <span>En téléchargeant Chrome, vous acceptez les <a href="https://policies.google.com/terms"
                        target="_blank" rel="noopener noreferrer">Conditions d'utilisation de Google</a> et les <br> <a
                        href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Conditions
                        d'utilisation supplémentaires de Google Chrome et ChromeOS.</a></span>
            </div>
            }
        </div>
        @if (width() >= large) {
        <br>
        <div style="display: flex; justify-content: center;">
            <a href="#fast">Faites défiler pour afficher plus
                <mat-icon>keyboard_arrow_down</mat-icon></a>
        </div>
        }
        @if (width() >= medium) {
        <div class="section-image-scroll" id="section-image-scroll">
            <img class="img1" src="/assets/sections-images/image1.png" alt="image1">
            <img class="img2" src="/assets/sections-images/image2.png" alt="image2">
            <img class="img1" src="/assets/sections-images/image3.png" alt="image3">
            <img class="img2" src="/assets/sections-images/image4.png" alt="image4">
            <img class="img1" src="/assets/sections-images/image5.png" alt="image5">
        </div>
        }@else {
        <div class="section-image">
            <img class="img1" src="/assets/sections-images/image1.png" alt="image1">
            <img class="img2" src="/assets/sections-images/image4.png" alt="image4">
            <img class="img1" src="/assets/sections-images/image3.png" alt="image3">
        </div>
        }
    </section>

    <!-- Sections: each section has data-home-section attribute for observer -->
    @if (width() >= medium) {
    <section data-home-section id="update">
        <app-update></app-update>
    </section>

    <section data-home-section id="to-you">
        <app-to-you></app-to-you>
    </section>

    <section data-home-section id="secure">
        <app-secure></app-secure>
    </section>
    }

    <section data-home-section id="fast">
        <app-fast></app-fast>
    </section>
    @if (!(width() >= medium)) {
    <section data-home-section id="secure">
        <app-secure></app-secure>
    </section>
    <section data-home-section id="to-you">
        <app-to-you></app-to-you>
    </section>

    }

    <section data-home-section id="by-google">
        <app-for-google></app-for-google>
    </section>

    <section data-home-section id="faq">
        <app-frequent-questions></app-frequent-questions>
    </section>
    <section>
        <mat-card class="last-card">
            <div>
                <h1 style="color: white; margin-bottom: 0; margin-top: 0;">Emportez votre navigateur avec vous</h1>
                @if (width() >= medium) {
                <p style="color: white;">Téléchargez Chrome sur votre appareil mobile ou votre tablette et
                    connectez-vous à
                    votre compte pour profiter de la même expérience sur votre navigateur, où que vous soyez.</p><br>
                }
                <button mat-raised-button
                    style="padding: 2rem; font-size: 1rem; margin: 1rem; margin-bottom: 3rem;"><mat-icon>download</mat-icon>
                    Télécharger
                    Chrome</button>
            </div>
            @if (width() >= medium) {
            <div
                style="display: flex; flex-direction: column; background-color: white; width: 20%; border-radius: 12px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; color: #5b5b5b; margin-left: 90%;">
                <img style="width: 80%; padding: 1rem;" src="/assets/chrome_qr_code.png" alt=""><span
                    style="text-align: center;">Télécharger <br>
                    Chrome pour
                    votre
                    <br>téléphone</span>
            </div>
            }
        </mat-card>
    </section>
</main>
<br>